WcfServiceClient/WcfServiceClient/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WheatherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="humadity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pressure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="temperature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WheatherInfo" nillable="true" type="tns:WheatherInfo" />
</xs:schema>