WcfServiceClient/WcfServiceClient/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.mycompany.com/whether/2010/05/24" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mycompany.com/whether/2010/05/24" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mycompany.com/whether/2010/05/24/Imports">
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/WcfServiceLibrary1/WheatherService/?xsd=xsd0" namespace="http://www.mycompany.com/whether/2010/05/24" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/WcfServiceLibrary1/WheatherService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/WcfServiceLibrary1/WheatherService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WhetherService_GetWhetherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWhetherInfo" />
  </wsdl:message>
  <wsdl:message name="WhetherService_GetWhetherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWhetherInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WhetherService_GetWhetherInfoSerialized_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWhetherInfoSerialized" />
  </wsdl:message>
  <wsdl:message name="WhetherService_GetWhetherInfoSerialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWhetherInfoSerializedResponse" />
  </wsdl:message>
  <wsdl:message name="WhetherService_SendEmailAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailAsync" />
  </wsdl:message>
  <wsdl:message name="WhetherService_SendEmailAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailAsyncResponse" />
  </wsdl:message>
  <wsdl:portType name="WhetherService">
    <wsdl:operation name="GetWhetherInfo">
      <wsdl:input wsaw:Action="http://www.mycompany.com/whether/2010/05/24/WhetherService/GetWhetherInfo" message="tns:WhetherService_GetWhetherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/whether/2010/05/24/WhetherService/GetWhetherInfoResponse" message="tns:WhetherService_GetWhetherInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWhetherInfoSerialized">
      <wsdl:input wsaw:Action="http://www.mycompany.com/whether/2010/05/24/WhetherService/GetWhetherInfoSerialized" message="tns:WhetherService_GetWhetherInfoSerialized_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/whether/2010/05/24/WhetherService/GetWhetherInfoSerializedResponse" message="tns:WhetherService_GetWhetherInfoSerialized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailAsync">
      <wsdl:input wsaw:Action="http://www.mycompany.com/whether/2010/05/24/WhetherService/SendEmailAsync" message="tns:WhetherService_SendEmailAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/whether/2010/05/24/WhetherService/SendEmailAsyncResponse" message="tns:WhetherService_SendEmailAsync_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>